.Get-button {
    background-color: rgb(121,82,179);
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;

}
.Download-button {
    background-color:transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(108, 117, 125);
    width: 100px;
    height: 35px;
    border-radius: 5px;
}